* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /* font-family: 'Inter' !important; */
}

a {
    text-decoration: none;
}

body {
    padding: 3em .5em;
    margin: 0 .5em;
    background-color: #202029;
}

@media (min-width: 1400px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }
}